<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
  <div id="app">
    <v-app>
      <v-main>
        <v-snackbar :color="flashType" top :timeout="-1" v-model="flashIsShown">
          <p>
            {{flashMessage}}
          </p>
          <div class="text-right">
            <v-icon @click="close">mdi-close</v-icon>
          </div>
        </v-snackbar>
        <v-app-bar color="red" dark app height="60">
          <div style="max-width: 800px">
            Gmail Builder
          </div>
        </v-app-bar>
        <v-container style="max-width: 800px" class="pt-10">
          <template v-if="isLoadingGmailPage">
            <v-progress-circular indeterminate red></v-progress-circular> Gmailページを読み込み中
          </template>
          <template v-if="!isLoadingGmailPage">
            <p>＊ 文字数が長すぎて直接Gmailページが開けないので本文だけコピーしてください。</p>
            <v-btn @click="copyBody">1. 本文コピー</v-btn>
            <v-btn @click="toGmailPageWithoutBody">
              <v-icon>open-in-new</v-icon>2. Gmailへ
            </v-btn>
            <v-textarea v-model="body" rows="30"></v-textarea>
          </template>
        </v-container>
      </v-main>
    </v-app>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script>
/*
TODO
*/

    const vueApp = new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data: () => {
        return {
          account: "",
          body: "",
          su: "",
          to: "",
          maxGmailLength: 8000,
          flashType: "success",
          flashIsShown: false,
          flashMessage: "",
          isLoadingGmailPage: false,
        }
      },
      computed: {
        gmailUrl() {
          const toEncoded = encodeURIComponent(this.to)
          const subjectEncoded = encodeURIComponent(this.su)
          const bodyEncoded = encodeURIComponent(this.body)
          return `http://mail.google.com/mail/ca/u/${this.account}/?view=cm&fs=1&to=${toEncoded}&su=${subjectEncoded}&body=${bodyEncoded}`
        },
        gmailUrlWithoutBody() {
          const toEncoded = encodeURIComponent(this.to)
          const subjectEncoded = encodeURIComponent(this.su)
          return `http://mail.google.com/mail/ca/u/${this.account}/?view=cm&fs=1&to=${toEncoded}&su=${subjectEncoded}`
        }
      },
      methods: {
        copyBody() {
          navigator.clipboard.writeText(this.body)
          this.flash("本文をコピーしました")
        },
        toGmailPageWithoutBody() {
          window.open(this.gmailUrlWithoutBody, "_blank")
        },
        flash(message){
          this.flashType = "success"
          this.flashIsShown = true
          this.flashMessage = message
        },
        close(){
          this.flashIsShown = false
        }
      },
      mounted() {
        const jsonObject = getJsonFromUrl(location.href);
        this.account = jsonObject.account ? jsonObject.account : "info@job-tree-japan.com"
        this.body = jsonObject.body
        this.su = jsonObject.su
        this.to = jsonObject.to
        this.$nextTick(()=>{
          if(this.gmailUrl.length < this.maxGmailLength){
            this.isLoadingGmailPage = true
            location.href = this.gmailUrl
          }
        })
      },
    })
    function getJsonFromUrl(url) {
        if (!url) url = location.search;
        var query = url.substr(1);
        var result = {};
        query.split("&").forEach(function (part) {
          var item = part.split("=");
          result[item[0]] = decodeURIComponent(item[1].replaceAll("\+", " "));
        });
        return result;
      }
  </script>
</body>
  
</html>